<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Check.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Check.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>Check.Test.Print</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintMe</servlet-name>
        <servlet-class>Check.PrintMe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintRow</servlet-name>
        <servlet-class>Check.Test.PrintRow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintOne</servlet-name>
        <servlet-class>Check.PrintOne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPost</servlet-name>
        <servlet-class>Check.InsertPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPosts</servlet-name>
        <servlet-class>Check.Test.PrintPosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAllPosts</servlet-name>
        <servlet-class>Check.PrintAllPosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertComment</servlet-name>
        <servlet-class>Check.InsertComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintComments</servlet-name>
        <servlet-class>Check.Test.PrintComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCommentsOfPost</servlet-name>
        <servlet-class>Check.PrintCommentsOfPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>Check.New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintComPost</servlet-name>
        <servlet-class>Check.PrintComPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Samir</servlet-name>
        <servlet-class>Check.Samir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>Check.Test.Query</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>friendInfo</servlet-name>
        <servlet-class>Check.friendInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertFriendReq</servlet-name>
        <servlet-class>Check.InsertFriendReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintFriend_Req_Table</servlet-name>
        <servlet-class>Check.Test.PrintFriend_Req_Table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFriendRequest</servlet-name>
        <servlet-class>Check.ShowFriendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertFriend</servlet-name>
        <servlet-class>Check.InsertFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintFriends</servlet-name>
        <servlet-class>Check.Test.PrintFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFriendList</servlet-name>
        <servlet-class>Check.ShowFriendList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckFriend</servlet-name>
        <servlet-class>Check.CheckFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLike</servlet-name>
        <servlet-class>Check.AddLike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/Print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintMe</servlet-name>
        <url-pattern>/PrintMe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintRow</servlet-name>
        <url-pattern>/PrintRow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintOne</servlet-name>
        <url-pattern>/PrintOne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPost</servlet-name>
        <url-pattern>/InsertPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPosts</servlet-name>
        <url-pattern>/PrintPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAllPosts</servlet-name>
        <url-pattern>/PrintAllPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertComment</servlet-name>
        <url-pattern>/InsertComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintComments</servlet-name>
        <url-pattern>/PrintComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCommentsOfPost</servlet-name>
        <url-pattern>/PrintCommentsOfPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintComPost</servlet-name>
        <url-pattern>/PrintComPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Samir</servlet-name>
        <url-pattern>/Samir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>friendInfo</servlet-name>
        <url-pattern>/friendInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertFriendReq</servlet-name>
        <url-pattern>/InsertFriendReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintFriend_Req_Table</servlet-name>
        <url-pattern>/PrintFriend_Req_Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFriendRequest</servlet-name>
        <url-pattern>/ShowFriendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertFriend</servlet-name>
        <url-pattern>/InsertFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintFriends</servlet-name>
        <url-pattern>/PrintFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFriendList</servlet-name>
        <url-pattern>/ShowFriendList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckFriend</servlet-name>
        <url-pattern>/CheckFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLike</servlet-name>
        <url-pattern>/AddLike</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
